body {
  background-color: #2c3240;
  color: white;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  //font-size: 17px;
  line-height: 18px;
  h1 {
    text-align: center;
    font-size: 44px;
  }

}
#sign_up a{

  margin-left: 50%;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

//a {
//  color: #7b7373;
//  text-align: center;
//
//  &:visited {
//    color: #666;
//  }
//
//  &:hover {
//    color: #fff;
//    background-color: #000;
//  }
//}

th {
  padding-bottom: 32px;
  //margin-left: 50px;
  padding-left: 24px;
  //margin-top: 20px;
  padding-top: 35px;
}

td {
  //padding: 0 5px 7px;
  padding-left: 52px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;


  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

 .signin{
  margin-left: 6%;
   margin-top: -18px;
   color: red;
}
.signup{
  margin-left: 11% ;
}
.logout{
  margin-left: 92.5%;
  color: #CCCCCC;
}